@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em{margin:0;padding:0;border:0;}
ul, ol, li{list-style:none;}
input, button{margin:0;font-size:12px;vertical-align:middle;}
body{font-size:12px;font-family:arial, helvetica, sans-serif;text-align:center;margin:0 auto;background:#999;}
table{border-collapse:collapse;border-spacing:0;}
b, em, i{font-style:normal;font-weight:normal;}
h1, h2, h3, h4{font-size:14px;font-style:normal;}
h5{font-size:12px;}
h6{font-size:12px;font-weight:normal;}
img{display:block;}
a{text-decoration:none;}
p,p a{font-size:12px;color:#666;}

/* scrollimg */
.box{width:694px;height:406px;margin:40px auto 0 auto;}
.scrollimg2_hd{background:url(../images/scrollimg.png) no-repeat 0px 0px}
.scrollimg2_tigger img{background:url(../images/scrollimg.png) no-repeat 0px 0px}
.scrollimg2_tigger_hoverbg{background:url(../images/scrollimg.png) no-repeat 0px 0px}
.scrollimg2{
    float:left;
    overflow:hidden;
    width:694px;
    position:relative;
    height:406px
}
.scrollimg2_bigimg{
    display:none;
    left:0px;
    overflow:hidden;
    width:694px;
    position:absolute;
    top:0px;
    height:350px
}
.scrollimg2_bigimg img{width:694px;height:361px}
.scrollimg2_bigimg div{float:left;position:relative}
.scrollimg2_hd{background-position:-63px 0px;display:block;z-index:2;left:0px;overflow:hidden;width:77px;text-indent:-9999px;position:absolute;top:0px;height:76px;_background-position:-143px 0}
.scrollimg2_tigger{background:#181818;overflow:hidden;position:relative;top:351px;height:45px}
.scrollimg2_tigger ul{padding-right:0px;padding-left:3px;padding-bottom:0px;padding-top:4px;text-align:center}
.scrollimg2_tigger li{display:inline;float:left;margin-left:6px;overflow:hidden;width:62px;position:relative;height:37px}
.scrollimg2_tigger a{left:0px;position:absolute;top:0px}
.scrollimg2_tigger img{padding-right:1px;padding-left:1px;padding-bottom:1px;width:60px;padding-top:1px;height:35px}
.scrollimg2_tigger_hoverbg{background-position:0px -38px;z-index:2;left:9px;width:62px;cursor:pointer;position:absolute;top:0px;height:41px}
.scrollimg2_tigger .scrollimg2_tigger_link{padding-right:0px;padding-left:0px;z-index:3;left:3px;padding-bottom:0px;padding-top:0px;position:absolute}
.scrollimg2_tigger .scrollimg2_tigger_link a{display:block;filter:alpha(opacity=0);width:60px;height:35px;opacity:0}
.scrollimg2_bigimg .scrollimg2_bg{
    z-index:98;
    /*background-color:#425de0;*/
    left:0px;
    float:none;
    width:694px;
    position:absolute;
    top:311px !important;
    height:40px;
    filter:alpha(opacity=0);
    opacity:0;-moz-opacity:0
}
.scrollimg2_txt{
    font-weight:normal;
    font-size:14px;
    z-index:99;
    left:10px;
    color:#fff;
    position:absolute;
    top:321px !important;
    filter:alpha(opacity=0);opacity:0;-moz-opacity:0}
