.ch_text{
    width: 99%;
    height: 180px;
    font-size: 42px;
}
.translate_btn{
    width: 100%;
}
.fanhui_btn,.save_btn{
    width: 50%;
    float: left;
}

.translate_btn,.fanhui_btn,.save_btn{
    height: 85px;
    line-height: 45px;
    background-color: #4288ce;
    margin: 0 auto;
    margin-top: 5px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    font-size: 32px;
}

.show_resule{
    width: 100%;
    height:500px;
    overflow: auto;
}

#classify{
    width: 300px;
    height: 50px;
    font-size: 32px;
}
.result_dst{
    margin-top: 20px;
    font-size: 32px;
    color:#db000f;
}
.show_resule{
    height: 500px;
}
